body {
    font-family: Helvetica;
    font-size: 16px;
    color: white;
    line-height: 1.4;
    background-color: #9b42f4;
}

h1, h2, h3 {
    color:rgba(66, 241, 244, 1);
}

h1 {
    text-decoration: underline;
}